<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Your Very Handsome Website</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="images/content/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/app.minify.css" />
    <link rel="icon" href="images/content/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;500;600&display=swap"
      rel="stylesheet"
    />

    <meta name="theme-color" content="#000" />
  </head>

  <body>
    <!-- Add your site or application content here -->
    <div class="h-screen flex">
      <div class="w-64 py-5 px-5 bg-gray-100 border-r">
        <img src="images/content/logo.svg" />
        <nav class="mt-8">
          <h2 class="text-md text-gray-500 font-medium uppercase tracking-wide">MENU</h2>
          <div class="mt-2 -mx-3">
            
          <a href="#" class= "flex justify-between px-4 py-2 bg-blue-200 rounded-md">
          <span class="text-sm font-semibold text-gray-700">All</span>
          <span class="text-md font-semibold text-gray-700">11</span>
          </a>

          <a href="#" class= "flex justify-between px-4 py-2  rounded-md">
            <span class="text-sm font-normal text-gray-700">All</span>
            <span class="text-md font-normal text-gray-700">11</span>
            </a>
            
            <a href="#" class= "flex justify-between px-4 py-2  rounded-md">
              <span class="text-sm font-normal text-gray-700">All</span>
              <span class="text-md font-normal text-gray-700">11</span>
              </a>

              <a href="#" class= "flex justify-between px-4 py-2  rounded-md">
                <span class="text-sm font-normal text-gray-700">All</span>
                <span class="text-md font-normal text-gray-700">11</span>
                </a>

                <a href="#" class= "flex justify-between px-4 py-2  rounded-md">
                  <span class="text-sm font-normal text-gray-700">All</span>
                  <span class="text-md font-normal text-gray-700">11</span>
                </a>
        </nav>
      </div>
      </div>
      <div class="flex-1 min-w-0 bg-white">
        <div class="border-b-2 border-gray-200"></div>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
